@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

body{
    background-color: #FAF2EA;
    font-family: 'Lato', sans-serif;
    color: rgb(80, 80, 80);
    padding: #{"min(5em,5%) min(6em,5%)"};
}

header{
    .logo-wrapper{
        display: grid;
        grid-auto-flow: column;
        gap: 1em;
    
        button{
            background: linear-gradient(to right, #ECA95D, #EC7B67);
            color: white;
            padding: .6em .8em;
            border-radius: 24px;
            font-size: 12px;
            border: none;
            cursor: pointer;
        }
    }

    .mobile-header{
        display: flex;
        justify-content: space-between;
    }

    nav, .account{
        display: none;
    }

    nav a, .account a{
        color: rgb(80, 80, 80);
        text-decoration: none;
    }

    nav .link:hover, .account .link:hover{
        color: #ECA95D;
        font-weight: bold;
    }

    .set-display{
        display: grid;
        place-items: center;
        gap: 1em;
        padding: 1em 0;
        &:nth-child(2){
            margin-top: 1em;
        }
    }

    .account .button{
        color: #4C74EC;
        &:hover{
            font-weight: bold;
        }
    }

    .menu-bar p{
        padding: 2px 13px;
        background-color: black;
        margin: 3px;
        transition: all .2s ease-in-out;
        border-radius: 3px;
        cursor: pointer;
    }
} 

.animate-menu-bar p{
    &:nth-child(1){
        transform: rotate(-45deg) translate(-4px, 6px);
    }
    &:nth-child(2){
        opacity: 0;
    }
    &:nth-child(3){
        transform: rotate(45deg) translate(-4px, -6px);
        
    }
}

.hero-image{
    margin-top: #{"max(1.5em, (calc(8em - 15%)))"};
    margin-bottom: #{"max(0em, (calc(7em - 17%)))"};

    .img-container{
        position: relative;
        display: flex;
        justify-content: center;
    }

    img{
        width: #{"min(70%, 23em)"};
        position: absolute;
        &:nth-child(3){
            transform: rotate(-15deg);
        }
        &:nth-child(2){
            transform: rotate(-30deg);
        }
        &:nth-child(1){
            transform: rotate(-45deg);
        }
    }

    .top-image{
        position: unset;
        z-index: 1;
    }
}

.hero-text{
    display: grid;
    row-gap: 1em;

    h1{
        font-size: clamp(2.9rem, 8vw, 3.5rem);
        font-family: 'Playfair Display', serif;
        color: black;
    }

    p{
        line-height: 1.5;
    }

    form{
        display: grid;
        gap: 1em;
    }

    input{
        width: 100%;
        &[type=text]{
            padding: 1.1em;
            border: none;
            border-radius: 5px;
        }
        &[type=submit]{
            padding: 1.1em;
            border: none;
            background-color:#4C74EC;
            color: white;
            border-radius: 5px;
            font-family: 'Lato', sans-serif;
            cursor: pointer;
        }
    }

    span{
        display: grid;
        grid-auto-flow: column;
        justify-content: start;
        place-items: center;
        column-gap: 1em;
    }
}

footer{
    margin-top: 3em;
    display: grid;
    justify-content: space-between;
    align-items: center;
    gap: 3em;

    .socials{
        display: grid;
        grid-auto-flow: column;
        gap: 1.5em;
        cursor: pointer;
    }

    .question{
        display: grid;
        grid-auto-flow: column;
        place-items: center;
        gap: 1em;

        p{
            color: black;
            &:nth-child(2){
                font-weight: bold;
                font-size: 14px;
                cursor: pointer;
            }
            &:nth-child(1){
                font-family: 'Playfair Display', serif;
            }
        }
    }
}

@media (min-width: 768px){

    main{
        margin-bottom: 5em;

        .hero-text form{
            display: flex;

            input{
                &[type=submit]{
                width: unset;
                }
                &[type=text]{
                    width: #{"min(50%, 22em)"};
                }
            }
        }
    }

    footer{
        grid-auto-flow: column;
    }
}


@media (min-width: 1024px){

    body{
        padding: 2em 10% 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .account .button{
            background-color: #4C74EC;
            color: white;
            padding: 1.1em;
            border-radius: 5px;
        }

        .account .button:hover{
            font-weight: normal;
        }

        .menu-bar{
            display: none;
        }

        nav, .account, .set-display{
            display: grid;
            column-gap: 1.5em;
            grid-auto-flow: column;
            place-items: center;
            /* reverting the styling for mobile navigation*/
            background-color: unset;
            padding: unset;
        }

        .set-display:nth-child(2){
            margin-top: 0em;
        }
    }

    main{
        margin: 5em 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        flex: 2;
    }

    .hero-image{
        display: flex;
        flex: 1;
        margin-top: unset;
        margin-bottom: unset;

        .img-container{
            justify-content: end;
        }

        img{
            &:nth-child(3){
                animation: rotate3 1s forwards;
            }
            &:nth-child(2){
                animation: rotate2 1s forwards;
            }
            &:nth-child(1){
                animation: rotate1 1s forwards;
            }
        }
    }

    @keyframes rotate3{
        0%{
            transform: rotate(0);
        }
        100%{
            transform: rotate(-15deg);
        }
    }
    
    @keyframes rotate2{
        0%{
            transform: rotate(0);
        }
        100%{
            transform: rotate(-30deg);
        }
    }
    
    @keyframes rotate1{
        0%{
            transform: rotate(0);
        }
        100%{
            transform: rotate(-45deg);
        }
    }

    .hero-text{
        flex: 1;
        animation: fadeIn 1s forwards;
    }

    @keyframes fadeIn{
        0%{
            opacity: 0;
            transform: translateY(-1em);
        }
        100%{
            opacity: 1;
            transform: translateY(0em);
        }
    }
   
    footer{
        place-items: end;
        padding-bottom: 2em;
        grid-auto-flow: column;
    }

}
