@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

body{
    background-color: #FAF2EA;
    font-family: 'Lato', sans-serif;
    color: rgb(80, 80, 80);
    padding: min(5em,5%) min(6em,5%);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo-wrapper{
    display: flex;
    gap: 1em;
}

.logo-wrapper button{
    background: linear-gradient(to right, #ECA95D, #EC7B67);
    color: white;
    padding: .6em .8em;
    border-radius: 24px;
    font-size: 10px;
    border: none;
}

header nav, header .account{
    display: none;
}

header nav a, header .account a{
    color: rgb(80, 80, 80);
    text-decoration: none;
}

header .account .button{
    background-color: #4C74EC;
    color: white;
    padding: 1.1em;
    border-radius: 5px;
}

header .menu-bar p{
    padding: 2px 13px;
    background-color: black;
    margin: 3px;
}

.hero-image{
    margin-top: max(1.5em, calc(8em - 15%));
    margin-bottom: max(0em, calc(7em - 17%));
}

.hero-image .img-container{
    position: relative;
    display: flex;
    justify-content: center;
}


.hero-image img{
    width: min(70%, 23em);
    position: absolute;
}

.hero-image img:nth-child(3){
    transform: rotate(-15deg);
}

.hero-image img:nth-child(2){
    transform: rotate(-30deg);
}

.hero-image img:nth-child(1){
    transform: rotate(-45deg);
}

.hero-image .top-image{
    position: unset;
    z-index: 1;
}

.hero-text{
    display: grid;
    row-gap: 1em;
}

.hero-text h1{
    font-size: clamp(2.9rem, 8vw, 3.5rem);
    font-family: 'Playfair Display', serif;
    color: black;
}

.hero-text p{
    line-height: 1.5;
}

.hero-text form{
    display: grid;
    gap: 1em;
}

.hero-text input{
    width: 100%;
}
.hero-text input[type=text]{
    padding: 1.1em;
    border: none;
    border-radius: 5px;
}

.hero-text input[type=submit]{
    padding: 1.1em;
    border: none;
    background-color:#4C74EC;
    color: white;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
}

.hero-text span{
    display: flex;
    align-items: center;
    column-gap: 1em;
}

footer{
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}

footer .socials{
    display: flex;
    gap: 1.5em;
}

footer .question{
    display: flex;
    align-items: center;
    gap: 1em;
}

footer .question p{
    color: black;
}

footer .question p:nth-child(2){
    font-weight: bold;
    font-size: 14px;
}

footer .question p:nth-child(1){
    font-family: 'Playfair Display', serif;
}

@media (min-width: 768px){

    main{
        margin-bottom: 5em;
    }

    .hero-text form{
        display: flex;
    }
    .hero-text form input[type=submit]{
        width: unset;
    }

    .hero-text input[type=text]{
        width: min(50%, 22em);
    }
}

@media (min-width: 1024px){

    body{
        padding: 2em 10%;
    }

    main{
        margin: 5em 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .hero-image{
        display: flex;
        flex: 1;
        margin-top: unset;
        margin-bottom: unset;
    }

    .hero-image .img-container{
        justify-content: end;
    }

    .hero-text{
        flex: 1;
    }

    header .menu-bar{
        display: none;
    }

    header nav, header .account{
        display: flex;
        align-items: center;
        column-gap: 1.5em;
    }

}
